.has-float-label {
    width: 100%;
    position: relative;
    z-index: 23;
}

.has-float-label label {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.5em;
    left: 12px;
    z-index: 3;
    line-height: 1;
    padding: 0 1px 0px 0px;
}

.has-float-label .form-control {
    box-shadow: none !important;
    border: 1px solid #dee2e6;
}

[data-bs-theme=dark] .has-float-label label, .has-float-label > span {
    color: #dee2e6 !important;
    background-color: #212529;
}

[data-bs-theme=light] .has-float-label label, .has-float-label > span {
    color: #212529 !important;
    background-color: #fff;
}

[data-bs-theme=dark] .has-float-label .form-control {
    border:1px solid #495057;
}

.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
}

.has-float-label .form-control{
    padding-left: 30px !important;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+label {
    opacity: .5;
    top: .30em;
    font-weight: normal;
    padding-left: 18px;
}

.input-group .has-float-label {
    display: table-cell;
}

.input-group .has-float-label .form-control {
    border-radius: 4px;
}

.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px;
}*/

.has-float-label input:focus,
.has-float-label textarea:focus,
.has-float-label select:focus {
    border-color: #dee2e6;
    box-shadow: none;
    padding-left: 30px;
}

.has-float-label .form-control:placeholder-shown:not(:focus)+* {
    font-size: 100%;
    margin-top: 4px;
}

.has-float-label:last-child .form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

/* /form input float label*/

.form-control-icon {
    position: absolute;
    top: 2px;
    /*right: 0;*/
    left: 0;
    z-index: 80;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: auto;
}

.form-icon-passwd {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 989;
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	pointer-events: auto;
}

.spin-x {
    width: 1rem;
        height: 1rem;
        border-width: 0.1em;
}

.spin-1x {
    width: 1.2rem;
        height: 1.2rem;
        border-width: 0.1em;
}

.icon-1x {
    font-size: 1.3rem;
}

.icon-2x {
    font-size: 2rem;
}


.invalid-feedback{
    background: none !important;
    color: #dc3545 !important;
}

.has-float-label .is-invalid{
    border-color: #f1aeb5 !important;
}

.bg-ekt {
    background-color: #CC3333;
    color: #fff;
}


.post:hover img {
    transform: scale(1.02);
    transition: all .3s linear;
}

.spin-x {
	width: 1rem;
	height: 1rem;
	border-width: 0.1em;
}

.spin-1x {
	width: 1.2rem;
	height: 1.2rem;
	border-width: 0.1em;
}

.spin-2x {
	width: 2rem;
	height: 2rem;
	border-width: 0.1em;
}

.spin-3x {
	width: 3rem;
	height: 3rem;
	border-width: 0.1em;
}

.row-link th.th-link:hover {
	cursor: pointer;
	color: #0069d9;
}



/*pagination*/
.pagination {
	margin-top: 30px;
	border-top: 3px solid #ddd;
	text-align: center;
	position: relative;
	color: #777;
	list-style: none;
	border-radius: 0rem;
    background-color: transparent;
}

.page-link {
	display: inline-block;
	border: 0px;
	border-top: 0px solid #ddd;
	padding: 15px 15px 15px;
	font-size: 1.25rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #777;
	background-color: none;
}

.page-link:hover {
	margin-top: -3px;
	border-top: 3px solid;
	border-top-color: #0093C2;
	color: #0093C2;
	background-color: transparent !important;
}

/*.page-link:focus {
	z-index: 1;
	background-color: #fff;
	margin-top: -3px;
	border-top: 3px solid #0093C2;
	color: #444;
	border-top-color: #0093C2;
}*/
.page-item:last-child .page-link:hover {
	color: #0093C2;
	background-color: none;
}

.page-link:focus {
	margin-top: -3px;
	z-index: 1;
	border-top: 3px solid #0093C2;
	color: #444;
	border-top-color: #0093C2;
}

.page-item:first-child .page-link {
	margin-left: 0;
	border-top-left-radius: 0rem;
	border-bottom-left-radius: 0rem;
	color:#444;
	margin-top: -3px;
	border-top: 3px solid #ddd;
}

.page-item:last-child .page-link {
	border-top-right-radius: 0rem;
	border-bottom-right-radius: 0rem;
	color: #444;
	border-top-color: #444;
	border-top: 3px solid #ddd;
	padding: 15px 10px 10px;
	margin-top: -3px;
}

.page-item.active .page-link {
	z-index: 1;
	background-color: none;
	margin-top: -3px;
	border-top: 3px solid #444;
	color: #444;
	border-top-color: #444;
    background-color: transparent;
}

.page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	cursor: auto;
	background-color: transparent;
	border-color: #dee2e6;
	display:inline-block;
	margin-top: -3px;
	border-top: 3px solid #ddd;
}

.pagination-lg .page-link {
	padding: .75rem 1.5rem;
	font-size: 1.25rem;
	line-height: 1.5
}

.pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: .3rem;
	border-bottom-left-radius: .3rem
}

.pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: .3rem;
	border-bottom-right-radius: .3rem
}

.pagination-sm .page-link {
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5
}

.pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: .2rem;
	border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: .2rem;
	border-bottom-right-radius: .2rem
}

.page-item .page-link:focus {
	outline: none;
	box-shadow: 0 0 0 0rem rgba(40, 167, 69, 0.25);
}

/* /pagination */

.date {
    position: relative;
}

.bg-default {
    background-color: #e9ecef !important;
    color: #6c757d;
}

.date::-webkit-calendar-picker-indicator {
    display: block;
    width: 90%;
    background: #0000;
    position: absolute;
    transform: scale(12)
}

.date::-webkit-calendar-picker-indicator {
    position: absolute;
}

.date::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

.date:before {
    color: transparent;
    background: none;
    display: block;
    content: "";
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16"%3E%3Cpath d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/%3E%3C/svg%3E') center / contain no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 11px;
    right: 14px;
    color: #222;
}
